#photos.section__photos
  .owl-carousel
    .item= image_tag "timandkelbel-slide-1.jpg"
    .item= image_tag "timandkelbel-slide-2.jpg"
    .item= image_tag "timandkelbel-slide-3.jpg"
    .item= image_tag "timandkelbel-slide-4.jpg"
    .item= image_tag "timandkelbel-slide-5.jpg"
    .item= image_tag "timandkelbel-slide-6.jpg"
    .item= image_tag "timandkelbel-slide-7.jpg"
    .item= image_tag "timandkelbel-slide-8.jpg"
    .item= image_tag "timandkelbel-slide-9.jpg"
    .item= image_tag "timandkelbel-slide-10.jpg"
    .item= image_tag "timandkelbel-slide-11.jpg"
    .item= image_tag "timandkelbel-slide-12.jpg"
