#photos.section__photos
  .owl-carousel
    .item= image_tag "timandkelbel-slide-1.jpg"
    .item= image_tag "timandkelbel-slide-2.jpg"
    .item= image_tag "timandkelbel-slide-3.jpg"
    .item= image_tag "timandkelbel-slide-4.jpg"
    .item= image_tag "timandkelbel-slide-5.jpg"

