%section.rsvp__wrapper.top-push-rsvp
  %button.removeTopRSVP.close-button
    &times;
  .row
    .small-12.medium-8.columns.small-centered
      %header.rsvp__header
        %h1.huge RSVP
        %h2.subheader.text-center Kindly respond by April 1, 2015. We look forward to celebrating with you.
      .row
        = simple_form_for @guest do |f|
          = f.input :full_name, wrapper_html: { class: 'small-12 medium-6 columns'}
          = f.input :email, wrapper_html: { class: 'small-12 medium-6 columns'}
          = f.input :song, hint: 'Give us the song name and artist.', wrapper_html: { class: 'small-12 medium-9 columns'}, label: 'What Song Would You Dance To?'
          = f.input :attending, wrapper_html: { class: 'small-12 medium-3 columns'}, input_html: { maxlength: 1 }
          .small-12.columns
            = f.button :submit, 'Submit', class: 'button radius'
