%section.site__statement
  .row
    .small-12.small-centered.columns
      %h1.statement.text-center We Are Getting Married!
      %h2.statement-sub.text-center May 9, 2015 in Saint Paul, MN
= render 'shared/our_story'
= render 'shared/wedding_party'
= render 'shared/photos'
= render 'shared/wedding_details'
= render 'shared/gifts'
