!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Tim and Kelbel"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

    // Typekit Code
    %script{:src => "//use.typekit.net/luv2tui.js"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body{class: "#{controller_name} #{action_name} rsvpShow"}

    = render 'shared/rsvp'

    .content__wrapper
      = render 'shared/header'

      = yield

      = render 'shared/footer'

    = javascript_include_tag 'application'
